/*style variables*/
/*General housekeeping*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/*welcome and form section layout*/
.main_containers {
  /*background image and styling*/
  background-image: url("/Login-Screen/Images/background.png");
  background-color: rgb(248, 248, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
  /*layout*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  /*left side welcome section*/
  /*left side form section*/
}
.main_containers .welcome_section {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_containers .welcome_section .headings {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-left: 4rem;
}
.main_containers .welcome_section .headings h2 {
  margin-left: 1.5rem;
  font-weight: 300;
  font-size: 1.3rem;
}
.main_containers .welcome_section .headings h1 {
  font-weight: 600;
  text-align: left;
  font-size: 2.9rem;
}
.main_containers .welcome_section .circle_image_container {
  max-width: 600px;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*CIRCLE ANIMATIONS*/
}
.main_containers .welcome_section .circle_image_container .circle_image {
  margin: 0px 10px;
  width: 40px;
  z-index: 100;
}
.main_containers .welcome_section .circle_image_container .circle_image_1 {
  -webkit-animation: scale 2s ease-in-out alternate 3;
          animation: scale 2s ease-in-out alternate 3;
}
.main_containers .welcome_section .circle_image_container .circle_image_2 {
  -webkit-animation: scale 2s ease-in-out alternate 0.2s 3;
          animation: scale 2s ease-in-out alternate 0.2s 3;
}
.main_containers .welcome_section .circle_image_container .circle_image_3 {
  -webkit-animation: scale 2s ease-in-out alternate 0.4s 3;
          animation: scale 2s ease-in-out alternate 0.4s 3;
}
.main_containers .welcome_section .circle_image_container .circle_image_4 {
  -webkit-animation: scale 2s ease-in-out alternate 0.6s 3;
          animation: scale 2s ease-in-out alternate 0.6s 3;
}
.main_containers .welcome_section .circle_image_container .circle_image_5 {
  margin: 5px;
  -webkit-animation: scale 2s ease-in-out alternate 0.8s 3;
          animation: scale 2s ease-in-out alternate 0.8s 3;
}
@-webkit-keyframes scale {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 36px;
  }
  100% {
    margin-bottom: 0px;
  }
}
@keyframes scale {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 36px;
  }
  100% {
    margin-bottom: 0px;
  }
}
.main_containers .form_section {
  /*general from layout*/
  width: 48.8%;
  display: flex;
  flex-flow: column nowrap;
  /*FORM INPUT LAYOUT*/
}
.main_containers .form_section .form_section_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 2em;
  max-width: 550px;
  width: 100%;
  height: 85%;
  background-color: rgb(38, 41, 54);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.main_containers .form_section .form_section_container .form_container_input {
  height: 50%;
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  text-align: left;
}
.main_containers .form_section .form_section_container .form_container_input p {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(248, 248, 255);
}
.main_containers .form_section .form_section_container .form_container_input .input_fields {
  padding: 10px 20px;
  color: rgb(248, 248, 255);
  outline: none;
  border-radius: 8px;
  background-color: rgb(38, 41, 54);
  border: 1.8px solid rgb(157, 159, 165);
  font-weight: 600;
}
.main_containers .form_section .form_section_container .form_container_input .input_fields::-moz-placeholder {
  color: rgb(248, 248, 255);
}
.main_containers .form_section .form_section_container .form_container_input .input_fields:-ms-input-placeholder {
  color: rgb(248, 248, 255);
}
.main_containers .form_section .form_section_container .form_container_input .input_fields::placeholder {
  color: rgb(248, 248, 255);
}
.main_containers .form_section .form_section_container .form_container_input button {
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  align-self: flex-end;
  font-weight: 600;
  background-color: rgb(150, 0, 139);
  color: rgb(248, 248, 255);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.main_containers .form_section .form_section_container .form_container_input button:hover {
  background-color: black;
}
.main_containers .form_section .form_section_container .form_section_links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.main_containers .form_section .form_section_container .form_section_links .links {
  color: rgb(248, 248, 255);
  font-weight: 300;
}
.main_containers .form_section .form_section_container .form_section_links .links:hover {
  text-decoration: underline;
}
.main_containers .form_section .form_section_container .form_circle_container {
  width: 95%;
  height: 30%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.main_containers .form_section .form_section_container .form_circle_container .circle_image {
  margin: 0px 10px;
  width: 40px;
}

/*footer image*/
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}/*# sourceMappingURL=loginScreen.css.map */