/*style variables*/
$font: 'Montserrat', sans-serif;
$font_light: 300;
$font_reg: 400;
$font_bold: 600;

$caribbean-green: rgba(0, 204, 153, 1);
$dark-magenta: rgba(150, 0, 139, 1);
$sunglow: rgba(253, 202, 1, 1);
$radical-red: rgba(245, 47, 87, 1);
$dark-turquoise: rgba(0, 194, 214, 1);
$black: rgba(0, 0, 0, 1);
$raisin-black: rgba(38, 41, 54, 1);
$platinum: rgb(248, 248, 255);
$silver-metallic: rgba(157, 159, 165, 0.342);

/*General housekeeping*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    font-family: $font;
}


/*left sided nav*/
.navbar {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    max-width: 250px;
    width: 100%;
    background-color: $raisin-black;

    .navbar_logo {
        color: $platinum;
        font-size: 1.75em;
        font-weight: $font_bold;
        text-align: left;
        padding:.9em 1.1em;
    }

    .navbar_dash_btn {
        display: block;
        background-color: $dark-turquoise;
        color: $platinum;
        padding: 6px 10px;
        margin: .5em 2em;
        border: none;
        border-radius: 25px;
        width: 50%;
        text-align: center;

        &:hover {
            background-color: black;
        }
    }

    .navbar_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1em;
        margin-top: 2em;

        &_items {
            color: $platinum;
            background-color: $caribbean-green;
            border-radius: 25px;
            padding: .4em .8em;
            margin: .3em;
            cursor: pointer;

            &:hover {
                background-color: black;
            }

            }
        }
    }

    
    .navbar_bottom {
        position: fixed;
        bottom: 0;
    }

    .navbar_user_bubble {
        width: 260px;
        max-width: 100%;
        display: flex;
        
        align-items: center;
        background-color: $silver-metallic;
        padding: .4rem .8rem;
        border-radius:80px;
        margin-left: .8rem;

        &_list_items {
            color: $platinum;
            padding-bottom: .2em;
            padding-left: .6rem;
             

             &:nth-child(1) {
                font-size: 19px;
                font-weight: $font_bold;
             }
             &:nth-child(2) {
                font-size: 16px;
                font-weight: $font_reg;
             }
             &:nth-child(3) {
                font-size: 14px;
                font-weight: $font_light;

                &:hover {
                    text-decoration: underline;
                }
             }
        }
    }
    .navbar_btn {
        padding: .5rem 1rem;
        border-radius: 25px;
        background-color: $radical-red;
        color: $platinum;
        border: none;
        margin: 1rem ;

        &:hover {
            background-color: black;
        }
    }


/*quick stats overview*/
.quick_overview {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: flex-start;
        margin-left: 17rem;
        margin-top: 9rem;
        width:300px;
        max-width: 100%;

        &_items {
            padding:.8rem .6rem;
            display: flex;
            flex-wrap: nowrap;

            width:80%;
            color:$raisin-black;
            &_icon { 
                margin-right: 2rem;
                width: 24px;
            }

            &_count {
                text-align: left;
                font-weight: $font_bold;
                align-self:baseline ;
                margin-right: 1.2rem;
            }

            &_description {
                font-size: .8rem;
            }

            
        }
}

/*vertical tabs*/

.tab {
    position: fixed;
    right: 0;
    top:0;
    bottom: 0;
    border: none;
    background-color: white;
    width: 100%;
    max-width:800px;
    height: 500px;
    max-height: 100%;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    margin-top: 2rem;

  
    &_button_container {
        background-color: inherit;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        position: relative;
        right:-22px;
            
        .tab_button {
            padding:1.5rem .6rem;
            transform: rotate(-90deg);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border: none;
            color: $raisin-black;
            background-color: $silver-metallic;
            
            &:hover{
                background-color: $raisin-black;
                color: $platinum;
            }
    
            &_button.active {
                background-color: $raisin-black;
                color: $platinum;
            } 
        }
    }

    &_content_container {
        width: 600px;
        max-width: 95%;
        height: 450px;

        .tab_content {
            display: block;
            width: 100%;
        }

        #tab_2_content {
            margin:1.6rem 3.8rem;
            background-color: $platinum;
            width: 80%;
            height: 90%;
            border-radius: 25px;
        
            .calendar_container {
                margin: 2rem 2.5rem;
                max-width: 85%;
                max-height: 85%;
                border-radius: 25px;
                display: flex;
                flex-flow: column nowrap;
                background-color: white;
                
                .calendar_btn_previous, 
                .calendar_btn_next {
                    background-color: white;
                    width: auto;
                    cursor: pointer;
                    border: none;                    
                    outline: none;
                    display: flex;
                    
                }
                
                    .calendar_month_year_container {
                        display: grid;
                        grid-template-areas: "back title next";
                        grid-template-columns: 12% 1fr 12%;
                        margin-bottom: 1em;
                    }
                
                .calendar_month_year {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        grid-area: title;
                    }
                
                    .calendar_week_days {
                        text-align: center;
                        display: grid;
                        grid-template-rows: auto;
                        grid-template-columns: repeat(7, 1fr);
                        padding: .5em;
                        font-weight: $font_reg;
                    }
                
                    .calendar_days {
                        text-align: center;
                        display: grid;
                        grid-template-rows: repeat(6, 1fr);
                        grid-template-columns: repeat(7, 1fr);
                        font-weight: $font_light;
                        color: $raisin-black;

                        
                    }
                
                    .calendar_days p {
                        margin: 0;
                        padding: .7rem 1.2rem;
                        text-align: center;
                        
                        &:hover {
                            border-radius: 50%;
                            color: $radical-red;
                            font-weight: $font_bold;
                            background-color: rgba(236, 124, 147, 0.514);
                        }

                    }
                
                    .calendar_days p:nth-child(n + 1) {
                        margin-left: -1px;
                    }
                
                    .calendar_days p {
                        margin-bottom: -1px;
                    }
                
                    #calendar-previous-month {
                        grid-area: back;
                    }
                
                    #calendar-next-month {
                        grid-area: next;
                    }
            }   
        }}

        /*tab 1 content*/

        #tab_1_content {

            max-width: 600px;
            width: 90%;
            height: 450px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
           

            /*aside btn notes*/

            .tab_1_aside_conatiner {
                
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                height: 100%;



                /*aside button styles*/

                .aside_btns  {
                    cursor: pointer;
                    align-self: flex-end;
                    width: 40px;
                    border: none;
                    padding: .3rem .2rem;
                    border-top-left-radius: 48%;
                    border-bottom-left-radius: 48%;
                    background-color: $dark-turquoise;
                    box-shadow: 8px 1px 2px rgba(112, 97, 97, 0.479);


                    &:nth-child(2) {
                        background-color:$caribbean-green;
                    }
                    &:nth-child(3) {
                        justify-self:flex-end
                    }

                }

                /*note tabs styles*/
                span {
                    background-color: $silver-metallic;
                    text-align: right;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    font-size: .75rem;
                    font-weight: $font_bold;
                    padding: .5rem .3rem;
                    box-shadow: 8px 1px 2px rgba(112, 97, 97, 0.479);

                }
            }

            .tab_1_rightside_container {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: $silver-metallic;
                border-bottom-right-radius: 5%;
                border-top-right-radius: 5%;

                .tab_1_heading_container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    height: 10%;

                    .tab_1_heading_container_text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;


                        p {
                            color: $raisin-black;
                            font-weight: $font_light;
                            font-size: .8rem;
                        }

                        h3 {
                            font-size: 1.15rem;
                            color: $raisin-black;
                        }
                    }

                    .tab_1_note_heading_btns {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-evenly;
                        align-items: flex-end;

                        .note_btns {
                            cursor: pointer;
                            padding:.5rem;
                            width: 35px;
                            align-self: center;
                            justify-self: center;
                        }
                    }
                }

                .tab_1_note_container {
                    display: flex;
                    flex-flow: column nowrap;
                    height: 85%;

                    textarea{
                        align-self: center;
                        width: 85%;
                        height:100%;
                        outline: none;
                        border: none;
                        border-radius: 5%;
                    }

                    .note_btn_container {
                        align-self: flex-end;
                        padding: .8rem;

                        .note_btn {
                            font-size: .6rem;
                            padding: .25rem .55rem;
                            border: none; 
                            border-radius: 25px;
                            background-color: $platinum;
                            color:$radical-red;
                            font-weight: $font_bold;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                            &:hover {
                                color: $raisin-black;
                            }
                           
                        }

                    }


                }

            }
        }
    
}   

/*footer*/
.footer {
    position: fixed;
    bottom:0;
    right:0;
    padding:10px;
}
