/*style variables*/
/*General housekeeping*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

/*body {
      display: flex;
}*/
/*left sided nav*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 250px;
  width: 100%;
  background-color: rgb(38, 41, 54);
}
.navbar .navbar_logo {
  color: rgb(248, 248, 255);
  font-size: 1.75em;
  font-weight: 600;
  text-align: left;
  padding: 0.9em 1.1em;
}
.navbar .navbar_dash_btn {
  display: block;
  background-color: rgb(0, 194, 214);
  color: rgb(248, 248, 255);
  padding: 6px 10px;
  margin: 0.5em 2em;
  border: none;
  border-radius: 25px;
  width: 50%;
  text-align: center;
}
.navbar .navbar_dash_btn:hover {
  background-color: black;
}
.navbar .navbar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1em;
  margin-top: 2em;
}
.navbar .navbar_menu_items {
  color: rgb(248, 248, 255);
  background-color: rgb(0, 204, 153);
  border-radius: 25px;
  padding: 0.4em 0.8em;
  margin: 0.3em;
  cursor: pointer;
}
.navbar .navbar_menu_items:hover {
  background-color: black;
}
.navbar .navbar_bottom {
  position: fixed;
  bottom: 0;
}
.navbar .navbar_user_bubble {
  width: 260px;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(157, 159, 165, 0.342);
  padding: 0.4rem 0.8rem;
  border-radius: 80px;
  margin-left: 0.8rem;
}
.navbar .navbar_user_bubble_list_items {
  color: rgb(248, 248, 255);
  padding-bottom: 0.2em;
  padding-left: 0.6rem;
}
.navbar .navbar_user_bubble_list_items:nth-child(1) {
  font-size: 19px;
  font-weight: 600;
}
.navbar .navbar_user_bubble_list_items:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.navbar .navbar_user_bubble_list_items:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
}
.navbar .navbar_user_bubble_list_items:nth-child(3):hover {
  text-decoration: underline;
}
.navbar .navbar_btn {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: rgb(245, 47, 87);
  color: rgb(248, 248, 255);
  border: none;
  margin: 1rem;
}
.navbar .navbar_btn:hover {
  background-color: black;
}

/*quick stats overview*/
.quick_overview {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  margin-left: 17rem;
  margin-top: 9rem;
  width: 300px;
  max-width: 100%;
}
.quick_overview_items {
  padding: 0.8rem 0.6rem;
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  color: rgb(38, 41, 54);
}
.quick_overview_items_icon {
  margin-right: 2rem;
  width: 24px;
}
.quick_overview_items_count {
  text-align: left;
  font-weight: 600;
  align-self: baseline;
  margin-right: 1.2rem;
}
.quick_overview_items_description {
  font-size: 0.8rem;
}

/*vertical tabs*/
.tab {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 500px;
  max-height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 2rem;
}
.tab_button_container {
  background-color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  position: relative;
  right: -22px;
}
.tab_button_container .tab_button {
  padding: 1.5rem 0.6rem;
  transform: rotate(-90deg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
  color: rgb(38, 41, 54);
  background-color: rgba(157, 159, 165, 0.342);
}
.tab_button_container .tab_button:hover {
  background-color: rgb(38, 41, 54);
  color: rgb(248, 248, 255);
}
.tab_button_container .tab_button_button.active {
  background-color: rgb(38, 41, 54);
  color: rgb(248, 248, 255);
}
.tab_content_container {
  width: 600px;
  max-width: 95%;
  height: 450px;
}
.tab_content_container .tab_content {
  display: block;
  width: 100%;
}
.tab_content_container #tab_2_content {
  margin: 1.6rem 3.8rem;
  background-color: rgb(248, 248, 255);
  width: 80%;
  height: 90%;
  border-radius: 25px;
}
.tab_content_container #tab_2_content .calendar_container {
  margin: 2rem 2.5rem;
  max-width: 85%;
  max-height: 85%;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
}
.tab_content_container #tab_2_content .calendar_container .calendar_btn_previous,
.tab_content_container #tab_2_content .calendar_container .calendar_btn_next {
  background-color: white;
  width: auto;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
}
.tab_content_container #tab_2_content .calendar_container .calendar_month_year_container {
  display: grid;
  grid-template-areas: "back title next";
  grid-template-columns: 12% 1fr 12%;
  margin-bottom: 1em;
}
.tab_content_container #tab_2_content .calendar_container .calendar_month_year {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: title;
}
.tab_content_container #tab_2_content .calendar_container .calendar_week_days {
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5em;
  font-weight: 400;
}
.tab_content_container #tab_2_content .calendar_container .calendar_days {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  font-weight: 300;
  color: rgb(38, 41, 54);
}
.tab_content_container #tab_2_content .calendar_container .calendar_days p {
  margin: 0;
  padding: 0.7rem 1.2rem;
  text-align: center;
}
.tab_content_container #tab_2_content .calendar_container .calendar_days p:hover {
  border-radius: 50%;
  color: rgb(245, 47, 87);
  font-weight: 600;
  background-color: rgba(236, 124, 147, 0.514);
}
.tab_content_container #tab_2_content .calendar_container .calendar_days p:nth-child(n+1) {
  margin-left: -1px;
}
.tab_content_container #tab_2_content .calendar_container .calendar_days p {
  margin-bottom: -1px;
}
.tab_content_container #tab_2_content .calendar_container #calendar-previous-month {
  grid-area: back;
}
.tab_content_container #tab_2_content .calendar_container #calendar-next-month {
  grid-area: next;
}
.tab #tab_1_content {
  max-width: 600px;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5%;
}
.tab #tab_1_content .tab_1_aside_conatiner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}
.tab #tab_1_content .tab_1_rightside_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: aqua;
}
.tab #tab_1_content .tab_1_rightside_container .tab_1_heading_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 10%;
}
.tab #tab_1_content .tab_1_rightside_container .tab_1_note_container {
  display: flex;
  flex-flow: column nowrap;
  height: 85%;
}
.tab #tab_1_content .tab_1_rightside_container .tab_1_note_container textarea {
  align-self: center;
  width: 85%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5%;
}

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}/*# sourceMappingURL=dashboard.css.map */