/*style variables*/
/*General housekeeping*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: "/Dashboard/Images/background.png";
}

/*left sided nav*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 250px;
  width: 100%;
  background-color: rgb(38, 41, 54);
}
.navbar .navbar_logo {
  color: rgb(248, 248, 255);
  font-size: 1.75em;
  font-weight: 600;
  text-align: left;
  padding: 0.9em 1.1em;
}
.navbar .navbar_dash_btn {
  display: block;
  background-color: rgb(0, 194, 214);
  color: rgb(248, 248, 255);
  padding: 6px 10px;
  margin: 0.5em 2em;
  border: none;
  border-radius: 25px;
  width: 50%;
  text-align: center;
}
.navbar .navbar_dash_btn:hover {
  background-color: black;
}
.navbar .navbar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1em;
  margin-top: 2em;
}
.navbar .navbar_menu_items {
  color: rgb(248, 248, 255);
  background-color: rgb(0, 204, 153);
  border-radius: 25px;
  padding: 0.4em 0.8em;
  margin: 0.3em;
  cursor: pointer;
}
.navbar .navbar_menu_items:hover {
  background-color: black;
}
.navbar .navbar_bottom {
  position: fixed;
  bottom: 0;
}
.navbar .navbar_user_bubble {
  width: 260px;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(157, 159, 165, 0.342);
  padding: 0.4rem 0.8rem;
  border-radius: 80px;
  margin-left: 0.8rem;
}
.navbar .navbar_user_bubble_list_items {
  color: rgb(248, 248, 255);
  padding-bottom: 0.2em;
  padding-left: 0.6rem;
}
.navbar .navbar_user_bubble_list_items:nth-child(1) {
  font-size: 19px;
  font-weight: 600;
}
.navbar .navbar_user_bubble_list_items:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}
.navbar .navbar_user_bubble_list_items:nth-child(3) {
  font-size: 14px;
  font-weight: 300;
}
.navbar .navbar_user_bubble_list_items:nth-child(3):hover {
  text-decoration: underline;
}
.navbar .navbar_btn {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background-color: rgb(245, 47, 87);
  color: rgb(248, 248, 255);
  border: none;
  margin: 1rem;
}
.navbar .navbar_btn:hover {
  background-color: black;
}

/*quick stats overview*/
.quick_overview {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  margin-left: 17rem;
  margin-top: 9rem;
  width: 300px;
  max-width: 100%;
}
.quick_overview_items {
  padding: 0.8rem 0.6rem;
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  color: rgb(38, 41, 54);
}
.quick_overview_items_icon {
  margin-right: 2rem;
  width: 24px;
}
.quick_overview_items_count {
  text-align: left;
  font-weight: 600;
  align-self: baseline;
  margin-right: 1.2rem;
}
.quick_overview_items_description {
  font-size: 0.8rem;
}

/*vertical tabs*/
.tab {
  float: right;
  border: none;
  background-color: white;
  width: 100%;
  max-width: 800px;
  height: 400px;
  max-height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.tab_button_container {
  background-color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  position: relative;
  right: -22px;
}
.tab_button_container .tab_button {
  padding: 1.5rem 0.6rem;
  transform: rotate(-90deg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
  color: rgb(38, 41, 54);
  background-color: rgba(157, 159, 165, 0.342);
}
.tab_button_container .tab_button:hover {
  background-color: rgb(38, 41, 54);
  color: rgb(248, 248, 255);
}
.tab_button_container .tab_button_button.active {
  background-color: rgb(38, 41, 54);
  color: rgb(248, 248, 255);
}
.tab_content_container {
  display: block;
  width: 800px;
  max-width: 85%;
}
.tab_content_container .tab_content {
  width: 85%;
  height: 350px;
  margin: 1.6rem 2.9rem;
}
.tab_content_container .tab_content .calendar {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem 4rem;
  padding: 1rem 1.5rem;
  background-color: rgb(248, 248, 255);
  border: none;
  border-radius: 8%;
}
.tab_content_container .tab_content .calendar .calendar-header {
  align-items: flex-start;
  font-size: 1.05rem;
  font-weight: bold;
}
.tab_content_container .tab_content .calendar .calendar-days {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 14.28%;
}
.tab_content_container .tab_content .calendar .calendar-days .calendar-day {
  text-align: center;
  padding: 1rem 0.8rem;
}
.tab_content_container .tab_content .calendar .calendar-days .calendar-day:hover, .tab_content_container .tab_content .calendar .calendar-days .calendar-day:active {
  color: white;
  background-color: rgb(245, 47, 87);
  border-radius: 100%;
}
.tab_content_container .tab_content .calendar_heading_container {
  width: 70%;
  margin: 0rem 4rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 248, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.tab_content_container .tab_content .calendar_heading_container .calendar_heading {
  color: rgb(38, 41, 54);
  font-weight: 600;
}
.tab_content_container .tab_content .calendar_heading_container .calendar_heading_button {
  background-color: rgb(248, 248, 255);
  border: none;
  cursor: pointer;
}
.tab_content_container .tab_content .calendar_heading_container .calendar_heading_button img {
  background-color: rgb(248, 248, 255);
}

/*footer*/
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}/*# sourceMappingURL=dashboard.css.map */