/*style variables*/
$font: 'Montserrat', sans-serif;
$font_light: 300;
$font_reg: 400;
$font_bold: 600;

$caribbean-green: rgba(0, 204, 153, 1);
$dark-magenta: rgba(150, 0, 139, 1);
$sunglow: rgba(253, 202, 1, 1);
$radical-red: rgba(245, 47, 87, 1);
$dark-turquoise: rgba(0, 194, 214, 1);
$black: rgba(0, 0, 0, 1);
$raisin-black: rgba(38, 41, 54, 1);
$platinum: rgb(248, 248, 255);
$silver-metallic: rgba(157, 159, 165, 0.342);

/*General housekeeping*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    font-family: $font;
}

body {
    background-image: "/Dashboard/Images/background.png";
}
/*left sided nav*/
.navbar {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    max-width: 250px;
    width: 100%;
    background-color: $raisin-black;

    .navbar_logo {
        color: $platinum;
        font-size: 1.75em;
        font-weight: $font_bold;
        text-align: left;
        padding:.9em 1.1em;
    }

    .navbar_dash_btn {
        display: block;
        background-color: $dark-turquoise;
        color: $platinum;
        padding: 6px 10px;
        margin: .5em 2em;
        border: none;
        border-radius: 25px;
        width: 50%;
        text-align: center;

        &:hover {
            background-color: black;
        }
    }

    .navbar_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 1em;
        margin-top: 2em;

        &_items {
            color: $platinum;
            background-color: $caribbean-green;
            border-radius: 25px;
            padding: .4em .8em;
            margin: .3em;
            cursor: pointer;

            &:hover {
                background-color: black;
            }
            
        }

    }

    .navbar_bottom {
        position: fixed;
        bottom: 0;
    }

    .navbar_user_bubble {
        width: 260px;
        max-width: 100%;
        display: flex;
        
        align-items: center;
        background-color: $silver-metallic;
        padding: .4rem .8rem;
        border-radius:80px;
        margin-left: .8rem;

        &_list_items {
            color: $platinum;
            padding-bottom: .2em;
            padding-left: .6rem;
             

             &:nth-child(1) {
                font-size: 19px;
                font-weight: $font_bold;
             }
             &:nth-child(2) {
                font-size: 16px;
                font-weight: $font_reg;
             }
             &:nth-child(3) {
                font-size: 14px;
                font-weight: $font_light;

                &:hover {
                    text-decoration: underline;
                }
             }
        }
    }
    .navbar_btn {
        padding: .5rem 1rem;
        border-radius: 25px;
        background-color: $radical-red;
        color: $platinum;
        border: none;
        margin: 1rem ;

        &:hover {
            background-color: black;
        }
    }
}

/*quick stats overview*/
.quick_overview {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: flex-start;
        margin-left: 17rem;
        margin-top: 9rem;
        width:300px;
        max-width: 100%;

        &_items {
            padding:.8rem .6rem;
            display: flex;
            flex-wrap: nowrap;

            width:80%;
            color:$raisin-black;
            &_icon { 
                margin-right: 2rem;
                width: 24px;
            }

            &_count {
                text-align: left;
                font-weight: $font_bold;
                align-self:baseline ;
                margin-right: 1.2rem;
            }

            &_description {
                font-size: .8rem;
            }

            
        }
}

/*vertical tabs*/

.tab {
    float: right;
    border: none;
    background-color: white;
    width: 100%;
    max-width: 800px;
    height: 400px;
    max-height: 100%;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;

  
    &_button_container {
       background-color: inherit;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        position: relative;
        right:-22px;
            
        .tab_button {
            padding:1.5rem .6rem;
            transform: rotate(-90deg);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border: none;
            color: $raisin-black;
            background-color: $silver-metallic;
            
            &:hover{
                background-color: $raisin-black;
                color: $platinum;
            }
    
            &_button.active {
                background-color: $raisin-black;
                color: $platinum;
            } 
        }
    }

    &_content_container {

        display: block;
        width: 800px;
        max-width: 85%;

        .tab_content {
            border: 1px solid #ccc;
            width: 85%;
            height: 350px;
            margin:1.6rem 2.9rem;

            #tab_2_content {
                .calendar {
                    
                    display: flex;
                    flex-direction: column;
                    width: 800px;
                    max-width: 85%;
                    height: 390px;

                    .calendar-header {background-color: brown;
                      text-align: right;
                      font-size: 1.5rem;
                      font-weight: bold;
                    }
                  
                    .calendar-days {
                        
                      display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;
                  
                      .calendar-day {
                        flex: 0 0 14.28%;
                        text-align: center;
                        padding: 0.5rem;
                        border: 1px solid #ccc;
                      }
                    }
                  }
                  
                  
            }

        }
    }
    
    
    
    
}

/*footer*/
.footer {
    position: fixed;
    bottom:0;
    right:0;
    padding:10px;
}
